<div ng-controller="EditController">
      <h1>Add New Movie</h1>

      <form name="movieform" class="form-group">
          <p>
              <label>Name: </label>
              <input name="name" type="text" ng-model="movie.name" required ng-minlength="0">
              <div ng-show="movieform.name.$invalid && movieform.name.$dirty">
                    Name of movie is invalid!
              </div>
          </p>
          <p>
              <label>Director: </label>
              <input name="director" type="text" ng-model="movie.director" required ng-minlength="0">
              <div ng-show="movieform.director.$invalid && movieform.director.$dirty">
                    Director is invalid!
              </div>
          </p>
          <p>
              <label>Pub Year: </label>
              <input name="year" type="text" ng-model="movie.pubyear" required ng-pattern="/^[0-9]{4}$/">
              <div ng-show="movieform.year.$invalid && movieform.year.$dirty">
                    Year is invalid!
              </div>
          </p>
          <p>
              <label>Description: </label>
              <input name="description" type="text" ng-model="movie.description" required ng-minlength="0">
              <div ng-show="movieform.description.$invalid && movieform.description.$dirty">
                    Field is invalid!
              </div>
          </p>

          <input type="submit" ng-click="saveMovie()" value="save changes" ng-disabled="movieform.$invalid" class="btn btn-primary"/>
      </form>
 
</div>
