

{{message}}

<h1>Sign In</h1>
<form name="signinform" class="form-group">
    <p>
        <label>Email-address: </label>
        <input name="user" type="text" placeholder="email" ng-model="email" required ng-minlength="5">
        <div ng-show="signinform.user.$invalid && signinform.user.$dirty">
            Email is invalid!
        </div>

    <p>
        <label>Password: </label>
        <input name="psw" type="password" placeholder="password" ng-model="password" required ng-minlength="8">
        <div ng-show="signinform.psw.$invalid && signinform.psw.$dirty">
            Password is invalid!
        </div>
    <input type="submit" ng-click="logIn()" value="login" ng-disabled="signinform.$invalid" class="btn btn-primary"/>
</form>


<h1>Register</h1>

<form name="registerform" class="form-group">
    <p>
        <label>Email-address: </label>
        <input name="user" type="text" placeholder="email" ng-model="newEmail" required ng-minlength="5">
        <div ng-show="registerform.user.$invalid && registerform.user.$dirty">
            Email is invalid!
        </div>

    <p>
        <label>Password: </label>
        <input name="psw" type="password" placeholder="password" ng-model="newPassword" required ng-minlength="8">
        <div ng-show="registerform.psw.$invalid && registerform.psw.$dirty">
            Password is invalid!
        </div>
    <input type="submit" ng-click="register()" value="register" ng-disabled="registerform.$invalid" class="btn btn-primary"/>
</form>